name: CI

on: [push, pull_request]

jobs:
  test:
    name: Node.js v${{ matrix.nodejs }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nodejs: [10, 12, 14, 16, 18]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.nodejs }}
    - uses: pnpm/action-setup@v2.2.4
      with:
        version: 6
        run_install: false

    - name: Install
      run: pnpm install

    - name: (coverage) Install
      if: matrix.nodejs >= 18
      run: pnpm add -g c8

    - name: Build
      run: pnpm run build

    - name: Test
      if: matrix.nodejs < 18
      run: pnpm test

    - name: (coverage) Test
      if: matrix.nodejs >= 18
      run: c8 --include=packages pnpm test

    - name: (coverage) Report
      if: matrix.nodejs >= 18
      run: |
        c8 report --reporter=text-lcov > coverage.lcov
        bash <(curl -s https://codecov.io/bash)
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
