name: CI

on: [push, pull_request]

jobs:
  test:
    name: Node.js v${{ matrix.nodejs }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nodejs: [10, 12, 14, 16]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.nodejs }}

    - name: (env) pnpm
      run: curl -L https://raw.githubusercontent.com/pnpm/self-installer/master/install.js | node

    - name: Install
      run: pnpm install

    - name: (coverage) Install
      if: matrix.nodejs >= 14
      run: pnpm add -g c8

    - name: Build
      run: pnpm run build

    - name: Test
      if: matrix.nodejs < 14
      run: pnpm test

    - name: (coverage) Test
      if: matrix.nodejs >= 14
      run: c8 --include=packages pnpm test

    - name: (coverage) Report
      if: matrix.nodejs >= 14
      run: |
        c8 report --reporter=text-lcov > coverage.lcov
        bash <(curl -s https://codecov.io/bash)
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
